body {
    overflow-x: hidden;
	background-color: #ffddcc;
    width: 100%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
#bus_selected {
font-family: Tahoma, Geneva, sans-serif;
font-size: 25px;
letter-spacing: -0.8px;
word-spacing: -2.4px;
color: #8C231B;
font-weight: normal;
text-decoration: none;
font-style: normal;
font-variant: small-caps;
text-transform: lowercase;
}
#mapid { height: 200px;
 width: 100%; }